.expiration-tag {
  display: flex;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.expiration-tag-small {
  display: flex;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}

.expiration-green {
  background-color: rgb(108, 216, 0);
}

.expiration-yellow {
  background-color: rgb(216, 188, 0);
}

.expiration-red {
  background-color: rgb(229, 0, 0);
}
